<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <title>
                Document
            </title>
        </meta>
    </head>
    <body>
        <header style="text-align:center">
            简单留言板
        </header>
        <a href="http://127.0.0.1/testFramework/">所有留言</a>
        <a href="http://127.0.0.1/testFramework/index/add">添加留言</a>
        <content>
            {% block content %}

        	{% endblock %}
        </content>
        <footer style="text-align:center">
            footer预留
        </footer>
    </body>
</html>